.code_preview {
	min-width: 784px;
	margin-left: 64px;
	display: flex;
	flex-direction: column;
	border-style: solid;
	position: relative;
	// max-height: 100vh;
	max-height: calc(100vh - 32px);
	background: #22221d;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
