.preview {
	background: #1f1c21;
	height: 240px;
	max-height: 240px;
	border-radius: 8px 8px 0px 0px;
	padding: 16px;

	.toggle-preview {
		color: white;
		font-size: 12px;
	}

	.preview-image {
		display: flex;
		justify-content: center;
	}
}
